//-------------Key Bindings--------------//
keyBinding.left = 'a'
//key right
keyBinding.right = 'd'
//key shoot
keyBinding.shoot = ' '

//------------Difficulty-----------------//
difficulty.level = 2

//------------Screen Size----------------//
//height
screenSize.height = 500
//width
screenSize.width = 500

//-------------High Scores--------------//
//from highest to lowest with name
highScore.Colin = 1000
highScore.Colin = 950
highScore.Barry = 800
highScore.Barry = 750
highScore.Colin = 700
